* {
  margin: 0;
  outline: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 solid;
}

ul,
li {
  list-style-type: none;
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #101010;
  color: #ffffffb5;
  font-weight: 200;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::selection {
  color: #fff;
  background: #07493288;
}
